tinkerforge==2.1.30
Pillow==8.0.0
zeroconf==0.63.0
netifaces==0.11.0
schedule==1.2.0
async-timeout==4.0.2
certifi==2018.8.24
chardet==3.0.4
idna==2.6
ifaddr==0.2.0
linecache2==1.0.0
pbr==4.2.0
pyroute2==0.5.16
pysodium==0.7.0.post0
python-apt==1.8.4.3
pyudev==0.22.0
requests==2.21.0
six==1.12.0
ssh-import-id==5.7
testresources==2.0.0
traceback2==1.4.0
typing_extensions==4.6.3
unittest2==1.1.0
urllib3==1.24.1
